<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
      
    <div class="content">
   	<div class="container">	
   		<div class="row">  		
   		
			<div class="col-md-3 col-lg-3 hidden-xs hidden-sm aside1 fadein-left">
				<div class="profile box-shadow center">
					<div class="overlay"></div>
					<div class="center gavatar">
						<a href="/" class="profile_gavatar"><img class="circle" src="{{ site.gavatar }}"></a>
					</div>
					<div class="address">
						<h5><span class="fa fa-map-marker"></span> JiNan ShanDong, China</h5>
					</div>
					<div class="center profile_desc">
						{{ site.profile_desc }}
					</div>
				</div>
				
				<div class="tag-cloud-text">
					<a href="http://w-poplar.github.io/pages/tags.html" title="标签" class="pjaxlink"><p class="center">标签</p></a>
				</div>
				<div class="tag-cloud ">	
					<hr>
					<div class="page-tag">
							{% for tag in site.tags %}
								<a href="http://blog.abcmumu.com/pages/tags.html#{{tag[0]}}" name="{{tag[0]}}" class="pjaxlink"><i class="fa fa-tags"></i>{{ tag[0] }}({{tag[1].size}})</a>
							{% endfor %}
					</div>					
				</div>
				<div class="clear"></div>
				<div class="recentcome box-shadow">
					<object type="application/x-shockwave-flash" style="outline:none;" data="http://cdn.abowman.com/widgets/dog/dog.swf?3?up_foodColor=C48218&up_eyeColor=000000&up_waterColor=DAF1F5&up_treatColor=EEEEEE&up_boneColor=EEEEEE&up_tongueColor=FFCCCC&up_earColor=4D4B46&up_feetColor=FFFFFF&up_backgroundColor=FFFFFF&up_tailTipColor=FFFFFF&up_dogName=aBowman%20Dog&up_legLength=3&up_waterBowlColor=B4DDF0&up_bodyColor=242320&up_foodBowlColor=FF0000&up_collarColor=0000FF&up_ballColor=FF0000&up_noseColor=E0D7D7&" width="300" height="225">
						<param name="movie" value="http://cdn.abowman.com/widgets/dog/dog.swf?3?up_foodColor=C48218&up_eyeColor=000000&up_waterColor=DAF1F5&up_treatColor=EEEEEE&up_boneColor=EEEEEE&up_tongueColor=FFCCCC&up_earColor=4D4B46&up_feetColor=FFFFFF&up_backgroundColor=FFFFFF&up_tailTipColor=FFFFFF&up_dogName=aBowman%20Dog&up_legLength=3&up_waterBowlColor=B4DDF0&up_bodyColor=242320&up_foodBowlColor=FF0000&up_collarColor=0000FF&up_ballColor=FF0000&up_noseColor=E0D7D7&"></param>
						<param name="AllowScriptAccess" value="always"></param>
						<param name="wmode" value="opaque"></param>
						<param name="bgcolor" value="FFFFFF"/>
					</object>
				</div>
				<div class="recentcome box-shadow">
	 				<p>最近访客 <i class="fa fa-user"></i></p>
	 				<ul class="ds-recent-visitors" data-num-items="15"></ul>
	 			</div>
	 			<div class="comment box-shadow">
	 				<p>最新评论 <i class="fa fa-comments"></i></p>
	 				<dl class="ds-recent-comments"  data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1"  data-show-admin="1" data-excerpt-length="50"></dl>
	 			</div>

	 			
	 			<div class="recentuse">
	 					<p>常用链接</p>
	 					<hr>
	 					<ul>
		 					<li><a href = "http://oschina.net/" title="开源中国" target="_blank">开源中国</a></li>
		 					<li><a href = "https://github.com/" title="github" target="_blank">github主页</a></li>
	 					</ul>
	 			</div>
				
				<!--<div class="friendlink">
	 					<p>好友</p>
	 					<hr>
	 			</div>-->
				<div class="friendlink">
					<p>友情链接</p>
					<hr>
					<ul>
						<li><a href="http://www.bootcss.com" target="_blank" title="Bootstrap中文网">Bootstrap中文网</a></li>
					</ul>
					<p>优秀资源</p>
					<hr>
					<ul>
						<li><a href="http://www.discuz.net" target="_blank" title="discuz">Discuz</a></li>
						<li><a href="http://codeigniter.org.cn/" target="_blank" title="CI框架">CI框架</a></li>
						<li><a href="http://www.thinkphp.cn" target="_blank" title="TP框架">TP框架</a></li>
					</ul>
				</div>
				
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 box-shadow fadein-right aside2">					 		
					<div class="page-content" id="pjax">{{content}}</div>				
			</div>
			


 		</div>	
	</div>
    </div>
    
	
	<div class="profile_social">
		<a class="rss" href="{{ site.rss_url }}" target="_blank"></a>
		<a class="github" href="{{ site.author.github }}"  target="_blank"></a>
		<a class="weibo" href="{{ site.author.weibo }}"  target="_blank"></a>
	</div>
	
    <div id="backtotop">
    		<a href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </div>
    
    <div class="pjax_loading"></div>
    
    {% include footer.html %}

  </body>

</html>
